* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.active51{
    position: fixed;
    top: 0;
    background-color: white;
}

.header {
    min-width: 100%;
    min-height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 7px gray;
z-index: 10;
}

.YT-logo {
    min-height: 100%;
    min-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.YT-logo img {
    height: 35px;
    width: 35px;
    
}

#img {
    height: 60px;
    width: 60px;

}

.search {
    min-width: 470px;
    border: 1px solid gray;
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 7px;
    border-radius: 30px;
}

#img2 {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#search {
    min-height: 5vh;
    min-width: 400px;
    outline: 0;
    border: 0;

}

.YT-profile {
    min-width: 250px;
    height: 7vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.YT-profile img {
    height: 40px;
    width: 40px;
}

