.right-recommended-video-51 {
    max-width: 30%;
    margin: 0 10px;
}

.YT-CARD-51 {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    padding: 10px;
    gap: 10px;

}
.link-51{
    color: #000;
    text-decoration: none;
}

.flex h2 {
    font-size: 0.8rem;
    text-align: start;
}

.flex p {
    font-size: 0.7rem;
}

#IMG {
    max-width: 20vw;
    height: 20vh;
}

#loader {
    border: 4px solid #ccc;
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
 animation: loading 1s linear infinite; 
    position: absolute;
    top: 60%;
    left: 83%;
   
}

@keyframes loading {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 360deg;
    }
}